<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="mystyle.css">


</head>
<body>

<div ng-app="lista" >
    <form ng-controller="listCtrl">
        <button ng-click="toggleBox()"> Buton + </button><br />

        <div id = "style1" ng-show="checked">
      Nume:      <input type="text" ng-model="newItem.nume" /> <br />
      Descriere: <input type="text" ng-model="newItem.descriere" /> <br />
      Cantitate: <input type="number" ng-model="newItem.cantitate" required /><br />
      Pret:      <input type="number" ng-model="newItem.pret" required /> <br />
      Subtotal:  <span>{{newItem.subtotal(newItem.pret,newItem.cantitate)}}</span> <br />
                 <button ng-click="add()">Add </button> <br />
       </div>

        <br />

        <b>Lista de cumparaturi este:</b>   <br />

            <b> Cauta: </b>
            <input type="text" ng-model="search" /> <br />
            <button ng-click="deleteCumparat()"> Sterge elemente cumparate</button> <br />
            <span>{{"Total: "+total()}}</span><br />
            <span ng-repeat="item in shoppingList | filter:search"  ng-class="{'strike': item.cumparat}" >
                    <input type="checkbox" ng-model="item.cumparat" />
                    <span id = "deSters" ng-disabled="checked">
                         <span >{{"Nume: "+ item.nume}}</span>
                         <span >{{"Descriere: " + item.descriere}}</span>
                         <span>{{"Cantitate:" + item.cantitate}}</span>
                         <span>{{"Pret: " + item.pret}}</span>
                         <span>{{"Subtotal: " + item.subtotal(item.pret, item.cantitate)}}</span>
                         <button ng-click="edit()">Edit </button>
                         <button ng-click="remove(item)">Remove</button>

                    </span>

                    <br />

                <span ng-show="editField">
                  Nume:       <input type="text" ng-model="item.nume" />
                  Descriere:  <input type="text" ng-model="item.descriere" />
                  Cantitate:  <input type="number" ng-model="item.cantitate" required />
                  Pret:       <input type="number" ng-model="item.pret" required />
                  Subtotal:   <span>{{item.subtotal(item.pret,item.cantitate)}}</span> <br />
                 </span>
                     <br />

                 </span>

    </form>

</div>
<script  type="text/javascript" src="angularjs/angular.js"></script>
<script type="text/javascript" src="lista.js"></script>
 </body>
</html>