.strike {
    text-decoration: line-through;
}


#style1{
    width: 300px;
    height: 150px;
    padding: 10px;
    border-style: solid;
}


input:focus{
    background-color: lightyellow;
}

label{
   text-indent: 5em;

}

.indentare{
    display: inline-block;
    float:right;
}